<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pracownicy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .content{
            max-width: 1000px;
            margin: auto;
            padding-top: 10px;
        }

        /* Dark mode */
        body.dark {
            background-color: #333;
            color: #fff;
        }

        .przycisk{
            margin: auto;
            padding-top:15px;
            padding-right:15px;
            padding-bottom:10px;
            float: left;

        }

        .przycisk2{
            padding-bottom:10px;
        }
        .navbar-brand{
            padding-left:10px;
        }

    </style>



</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a th:href = "@{/home}" class="navbar-brand" >Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href = "@{/profil}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href = "@{/apteka}">Apteka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href = "@{/historia-zamowien}">Zamówienia</a>
                </li>
                <li class="nav-item" style="display:none" id="pracownicy">
                    <a class="nav-link" th:href = "@{/pracownicy}">Pracownicy</a>
                </li>
                <li class="nav-item" style="display:none" id="uzytkownicy">
                    <a class="nav-link" th:href = "@{/uzytkownicy}">Użytkownicy</a>
                </li>
                <li class="nav-item">
                    <button id="dark-mode-toggle" class="btn btn-secondary">Dark mode</button>
                </li>
            </ul>
        </div>
        <div class="przycisk">
            <div class="row">
                <div class="col-md-6">
                    <a  class="btn btn-primary" th:text="${nazwaUzytkownika}"></a>
                </div>
            </div>
        </div>
    </nav>

</header>

<div class = "content">
    <h3>Lista pracowników apteki:</h3>

    <div class="przycisk" id="przyciskDodaj" style="display:block">
        <div class="row">
            <div class="col-md-6">
                <a id="dodaj" class="btn btn-primary" onclick="showDiv()">Dodaj</a>
            </div>
        </div>
    </div>

    <div class="przycisk" id="przyciskPowrót" style="display:block">
        <div class="row">
            <div class="col-md-6">
                <a th:href = "@{/home}" class="btn btn-primary">Powrót</a>
            </div>
        </div>
    </div>

    <form class="row g-3" th:object="${pracownik}" th:action="@{/pracownicy}" th:method="POST">
        <div class="dodawanie"  >
            <div style="display:none" id="dodawanie">
                <div>
                    <H5>Imię pracownika:</H5>

                    <div id="toggle1" >
                        <input th:field="*{imie}" type="text" class="form-control" id="inputUsername" >
                    </div>

                    <br></br>
                </div>
                <div>
                    <H5>Nazwisko:</H5>


                    <div id="toggle2" >
                        <input th:field="*{nazwisko}" type="text" class="form-control" id="inputPassword" >
                    </div>
                    <br></br>
                </div>
                <div>
                    <H5>Adres:</H5>


                    <div id="toggle3" >
                        <input th:field="*{adres}" type="text" class="form-control" id="inputImie" >
                    </div>
                    <br></br>
                </div>
                <div>
                    <H5>Numer telefonu:</H5>


                    <div id="toggle4" >
                        <input th:field="*{telefon}" type="text" class="form-control" id="inputNazwisko" >
                    </div>
                    <br></br>
                </div>
                <div>
                    <H5>Pozycja:</H5>


                    <div id="toggle5" >
                        <input th:field="*{pozycja}" type="text" class="form-control" id="inputEmail" >
                    </div>
                    <br></br>
                </div>
                <div>
                    <H5>Płeć:</H5>


                    <div id="toggle6">
                        <input th:field="*{plec}" type="text" class="form-control" id="inputWiek" >
                    </div>
                    <br></br>
                </div>

                <div class="przycisk2" style="display:block" id="przycisk2">
                    <div class="row">
                        <div class="col-md-6" >
                            <button type="submit" class="btn btn-primary">Zatwierdź </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Plec</th>
            <th scope="col">Adres</th>
            <th scope="col">Telefon</th>
            <th scope="col">Pozycja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pracownik, iterator : ${pracownicy}">
            <th th:text="${iterator.index + 1}" scope="row"></th>
            <td th:text="${pracownik.imie}"></td>
            <td th:text="${pracownik.nazwisko}"></td>
            <td th:text="${pracownik.plec}"></td>
            <td th:text="${pracownik.adres}"></td>
            <td th:text="${pracownik.telefon}"></td>
            <td th:text="${pracownik.pozycja}"></td>

        </tr>

        </tbody>
    </table>
</div>



</body>
</html>
<script>
    // Get the dark mode toggle button
    let toggleButton = document.getElementById("dark-mode-toggle");

    // Add an event listener to the button
    toggleButton.addEventListener("click", function() {
        // Get the body element
        let body = document.body;

        // Toggle the "dark" class on the body
        body.classList.toggle("dark");

        // Change the button text
        if (body.classList.contains("dark")) {
            toggleButton.innerHTML = "Light mode";
        } else {
            toggleButton.innerHTML = "Dark mode";
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-R0IHgw0ZGpjZi3M4Szf3PnGmj5mX9DV5r3q5f5Zn2/ZKj7lRvn8lE7VU1N6u9L6" crossorigin="anonymous"></script>
<script th:inline="javascript">

        function showDiv(){

            var id_pracownika = [[${id_pracownika}]];

            if(id_pracownika != 0){
                document.getElementById('pracownicy').style.display = 'block';
                document.getElementById('uzytkownicy').style.display = 'block';
            }
        }
        window.onload = showDiv();

    </script>
<script type="text/javascript">
        function showDiv(){
            document.getElementById('dodawanie').style.display = 'block';

            document.getElementById('przyciskDodaj').style.display = 'none';
            document.getElementById('przyciskPowrót').style.display = 'none';

        }
    </script>